
<br>
<div class="container">
  <div class="row">
      <div class="col s12">
          <a href="/" class="waves-effect waves-light btn" style="background-color: #64b5f6;">Back</a>
      </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="center">
        <h1>Henry Garcia</h1>
        <p>

        </p>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col s12">
        <div class="center">
          <h1>John Dixon</h1>
          <p>

          </p>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col s12">
          <div class="center">
            <h1>Juan Ruelas</h1>
            <p>
              
            </p>
          </div>
        </div>
      </div>

</div>


<link rel="stylesheet" href="css/creators.css" media="screen" title="no title" charset="utf-8">
