

<div class="container center wow bounceInUp">
  <h1 class="animated slideInUp">
    Git-Game
  </h1>
</div>


<div class="container animated rubberBand">
  <div class="row">
    <div class="col s12">
      <p>

      </p>
    </div>
  </div>
</div>

  <link rel="stylesheet" href="css/index.css">
