<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--include jQuery for everyday life-betterness -->
    <script src="jquery/dist/jquery.js" charset="utf-8"></script>

    <!--include the google api for fonts for our materize framework-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Inlcude the animate.css library for animates and wow.js-->
    <link rel="stylesheet" href="animate.css/animate.css">

    <!--include the materiaze css library for a kick ass ui-->
    <link rel="stylesheet" href="materialize-css/bin/materialize.css">

    <!--include materialize.js for materize css js stuffs-->
    <script src="materialize-css/bin/materialize.js" charset="utf-8"></script>

    <!--include  the wow.js library for cool scroll reveals-->
    <script src="wow/dist/wow.js" charset="utf-8">new WOW().init();</script>

    <title>Git-Game</title>
  </head>
  <body>
    <head>
      <%- include('partials/_nav.ejs')%>
    </head>

    <main>
      <%- include('partials/_index.ejs')%>
    </main>

    <footer class="animated flipInX">
      <%- include('partials/_footer.ejs')%>
    </footer>
  </body>
</html>
