<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="animate.css/animate.css">
    <link rel="stylesheet" href="materialize-css/bin/materialize.css">
    <title>Git-Game</title>
  </head>
  <body>


    <script src="jquery/dist/jquery.js" charset="utf-8"></script>
  </body>
</html>
